$sentiment-icon-size: 40px;

.container {
  padding: 10px;
}

.container p,
h4,
.sentiment {
  display: flex;
  justify-content: center;
}

.container p {
  font-size: $sentiment-icon-size;
}

.marker {
  width: 6 * $sentiment-icon-size;
}

.sentiment .marker > div {
  transition: 0.3s ease-in-out;
}

.sentiment-icons {
  margin: 5px;
}

h4 {
  margin: 0;
}
